			<!-- One -->
				<section id="about" class="spotlight style1 bottom">
					<span class="image fit main mobile-hide"><img src="{{ site.url }}{{ site.baseurl }}/images/banner.png" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="align-center">
									<p><span class="logo">Qaclana</span> is an open source project, aimed to creating a modern Web Application Firewall in the open. We believe that security is something that should be easy to adopt, be it by big corporations with a dedicated security team, be it by one-person web shops.</p>
								</div>
							</div>
						</div>
					</div>
				</section>
