			<!-- Header -->
				<header id="header">
					<h1 class="logo" id="logo"><a href="/">Qaclana</a></h1>
					<nav id="nav">
						<ul>
							<!-- <li><a href="{{ site.url }}">Home</a></li> -->
							<li>
							  <a href="#">Community</a>
								<ul>
									<li><a href="https://gitlab.com/qaclana" target="_blank">Code repository</a></li>
									<li><a href="https://chat.qaclana.io/" target="_blank">Chat</a></li>
									<li><a href="https://tree.taiga.io/project/jpkroehling-qaclana/" target="_blank">Issues</a></li>
									<li><a href="{{ site.url }}{{ site.baseurl }}/contributing">Contributing</a></li>
								</ul>
							</li>
							<li><a href="https://medium.com/qaclana" target="_blank">Blog</a></li>
							<li><a href="{{ site.url }}{{ site.baseurl }}/getting-started">Getting started</a></li>
							<li><a href="{{ site.url }}{{ site.baseurl }}/about">About</a></li>
						</ul>
					</nav>
				</header>
