---
title: Qaclana | Security
description: How to report security issues to Qaclana.
layout: default
---

        {% include header.html %}
        <!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Security</h2>
							<p>How to report security issues to <span class="logo">Qaclana</span>.</p>
						</header>
					  <section>
              <header>
								<p>Thank you for taking your time to read this page. We have secure coding on our heads and fingertips when writing <span class="logo">Qaclana</span>, but we are sure that someone, somewhere, might (or will) find a way to circumvent our protections.</p>
							</header>
							<header>
								<h4>If you find something suspicious and want to report it, we'd really appreciate! Ways to report it:</h4>
										<ul>
											<li>Contact us on our <a href="https://chat.qaclana.io">chat server</a>.</li>
											<li>Send a message to <a href="mailto:security@qaclana.io">security@qaclana.io</a>. Ideally, encrypt it using our <a href="https://sks-keyservers.net/pks/lookup?op=get&search=0x2001344ABE4E3BE7">published key</a>, which should match the one shown below.</li>
											<li>Merge request on GitLab: if you can, fork the affected repository and send us a merge request. We really prefer if you'd talk to us before, though, as our repositories are public and we would like to give a heads up to our users before disclosing it publicly.</li>
										</ul>
							</header>
							<header>
							  <h4>Our PGP key</h4>
							  <p>No matter what channel you choose to communicate with us, feel free to encrypt your message using our <a href="https://sks-keyservers.net/pks/lookup?op=get&search=0x2001344ABE4E3BE7">published key</a>, which should match the one shown below. If you are new to PGP, you can run the following command to encrypt a file called "message.txt":
							  <ol>
                  <li>Receive our keys from the key server: <pre><code>gpg --keyserver sks-keyservers.net --recv-keys 2001344ABE4E3BE7</code></pre></li>
								  <li>Encrypt a "message.txt" file into "message.txt.asc": <pre><code>gpg -ea -r 2001344ABE4E3BE7 message.txt</code></pre></li>
							  </ol>
							</p>
							</header>
							<header>
							  <h4>Our published key should match this one:</h4>
							  <pre>
							    <code class="align-center">
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v2

mQINBFffpBgBEADb4ryY6P/yyrOTCE38RscXnlx7cc70jsZYMkGBJpRFo/6YmJ/UtqQ3XaiS
VNK0j5lEUxuQcRYVZqtMDCKivsiLsvJqbhCROV4SGDNvQqzq6Uerll/bVR1teNJng97pmj2W
n2c+9QIAi8/X6YnuemcX2Li5xog7ymkULrosVGDTgtb9VAYGtS+tTTodyon298gvRjO/fNMY
5jo98ztEkcBp/rTa3HcQqO39C0Yk2GkRqyruSjsduBJDHGKxhHVqrGIXcjndupIFCofGRKPI
7TfLm2RBkQ6E9N4ZQoQUaB1S0bAvy1Yzr8pvY7u/b4ln4TkTTEmCpfchpbzXTdx/cxpJi0DG
FYxbR+7WhlkYsRYPFy0SbnCh5jUoW/dPQJEPQJH/j9zJDKYHO4+AVZUP/B2wxAq2NRYdunkC
kNLvrT648Vw3FROwQDModJECQe4xJ+hUFSiPh/zkIzWxm5p9B7rjcMDMgFJCVb1k42NESEkZ
D47kkF3U4xmpwrQ/CUA/VqAkcN1nGlznyNjHBbBUIWDjQKN7YQ6CtVxWaUKON0nnTACnzbvS
gVigT/7TWRckm6SmmHQrEOe76PHO/H4Ct+Fq0SqStagf21eIzDOnYd6+wqIcq4LDSfJaYv/U
tyvCoI1ZSv6LQR0odVP7kEHi36G/eQa7T3WrxyEm+fviK85onwARAQABtCZRYWNsYW5hIFNl
Y3VyaXR5IDxzZWN1cml0eUBxYWNsYW5hLmlvPokCNwQTAQgAIQUCV9+kGAIbAwULCQgHAgYV
CAkKCwIEFgIDAQIeAQIXgAAKCRAgATRKvk4757f/EADEjmNgCFQrRZ3wtkGr7r0Sz1XAzT1H
PY36ioH939o8hlvOOggg11XreX2+N7q5bHPdx+bz5iiNz2vFNxetHi9ZPy2ESurKIi3tdWlz
QEb7fi0rkRB1pkFobUo7a9XJiqiehXtwbdY9khBvm+ecGLbTirfViNL81KD6TypXRpulbkPL
vBKln97VYXyAPAPDfiRtWiocjTlzPbCc0Wb0Y6KjcWd1FkXUGX6fjssKOuDTulxX75o1b5OD
SbsDIY5iIK9JsV5hw/mkKcNgUN8B27neyJSpMr0fgVmXBWbnVxCdNeo8QNsOAMXOxKjG3fwy
wFGJuEKRhvBypXBXKLtBAS6k+aTaNjETN72oxVr0ytojgtzj50Uz1voGswwZompmxY2OcA4e
VpvP1BXFZmWV18QzRbFCiIHdG5Ipq6N4bfivfuxMYOqcCT9PBna1RbpNuRjRK7VvLaCPngwM
5qZPOMng+2znbKsr5IyCFjqewMFjfoNflw3aKfUwIUx2zF/v9oAKoTyRfqWhjY94gRUqSUIH
4Yi03lSEDs2Gg12y6ZhdRWanfXc1KE6p+oSGFoZl0gpMN6YUi6W9EBNA5kRLEnmvVVyymymg
vXUybBuk1Rt0Y9HkHFw0bYj4BaFetFqumrgbfR8UiJippzuyBEsvbpk9WAZnqpe+W4641PDT
jXRMjbkCDQRX36QYARAAuGG9DU1S2yz+HNpx6wcZO+YeOmILUD3ShyvwFlHYK4fhTNNxqw7t
vqzPtftUMorNvoybL/WdRtdVLkr+lzMiqvQfbTAmSv5lpb/p2uveMXvTUOjOmxne9MubwMhB
MLtGPNsSu4ERYidO0ssg0mzYIXXugbUpGcvEz4YlxogjAAhpKhvW6E0Zh8uLzfHCDEX+68DW
8lWA1y+3A0/TJeZ215dgA9ejO1kUpRbjbWxHcxFYwezKJ+w1LAW3RQxCOdNDrJHAD75JbmCK
SPrjI1pyQ12M3dYBa5hCFzDClElmeaosJihnQ6cAV8KL8T1WrsieIXue+fL6XX8A+80EADdk
3f2ZLRpVFINhIQ2wrkeq8nP86HaBAlHy7r8fSvtjOoKj45GZkb3Mh+pMRk4n+e94Y0ZjBcSE
/oqJCmGwwG3AMA8Mm6KxB6JBR0luTr+DucUOpelXffgFmVgD+hyp+jeqLxz22h2Y+07rfxxz
TtmTo0nulqOohvGV6Ffm/94p05Hw+x1tKP/vjRy/g5O0v3IC8EGsoBlzK/MOTrGJVIz2gsjK
ygCkw9pRWMgG7TNohX8ZorfzqVvU+aO9qw5uI20rRNCpO0D9d8H6cuTD/1UNSkAAmkDe9TX4
ePJGp48K9InFH1zBF60iiNPS+B7LGhPDDzqjmi1IVozlxcqnhEmthSMAEQEAAYkCHwQYAQgA
CQUCV9+kGAIbDAAKCRAgATRKvk4750F+D/0bKEky8bODCMMSMzfUUwC+k8aCFZOzf0blqYh5
yufxj00Sl+pGFAJwBH7OxEKlMzX6qgr003d6FFfvv0yngXvdILDh01wq0v0b5igYKTxlgudc
C3WpsMzwC8XaOkA0RHvqw3lZGyrQVFU631qteouuz0wm1jqEFdITcc8fvR3Qhl2M0NoKn/1P
WZ/Sls6r4wUYY3E0yn1fGiu5PtpeP041EBpE7G14XPennSV9LWI4doF58CCsTS1dfYhS1MfM
ETK6ynR91+wN5HM0EzCUwoT6WsUx12sMe9x72/dXiC9LN4j5Ooy8T1rgq7ClGRiVrI9gliVd
5sHn7b4Y9YErKJ2txMbMsqp0FeWvumcxuClFDjedFOlo/Tk9DEtqUZSfVb4zbXYaKsllC5QP
QxrxoPVPATY22nP6A0hUGn0pweRNRaSTcwM/XFFI1fKpTdBuCk5LbOIRY1cDxV6/QhGEJGSZ
vpHVDJg4ZwsQMfKRWUAeSr0xcV9COMj5vmyBKVzKjYWkz4hApcoEyK55OSduXclDSMU04wWh
wND8icfMbw7jfWuivadBmb3WqFsHxw+fX6SNgNnhAoxui762ldXLRN07zOXFhqeqF3F+xoti
hqtBu4bbj6RvPrWifx7oxRHWMWRdTUWzaPhDI0bHEjCjuKfWAcoqmBrBUv6GElaj+qIA5Q==
=RwMN
-----END PGP PUBLIC KEY BLOCK-----
							    </code>
							  </pre>
					    </header>
					  </section>
					</div>
				</div>
