---
title: Qaclana | About
description: Qaclana is an open source project, aimed to creating a modern Web Application Firewall in the open.
layout: default
---

        {% include header.html %}
        <!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Hello, we are <span class="logo">Qaclana</span></h2>
							<p>We are glad to meet you.</p>
						</header>
						<p class="align-center"><span class="logo">Qaclana</span> is an open source project, aimed to creating a modern Web Application Firewall in the open. We believe that security is something that should be easy to adopt, be it by big corporations with a dedicated security team, be it by one-person web shops.</p>
					  <section>

					  </section>
					</div>
			  </div>
